absl-py==2.1.0
aiobotocore
aiohttp
aioitertools
aiosignal
alabaster
altair
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens==3.0.0
astunparse==1.6.3
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
comm==0.2.2
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.75
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask
datashader
debugpy==1.8.12
decorator==5.1.1
defusedxml
diff-match-patch
dill
distributed
distro
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing==2.2.0
fastjsonschema
filelock
flake8
Flask
flask-cors==5.0.1
flatbuffers==25.2.10
fonttools==4.25.0
frozenlist
fsspec
future
gast==0.6.0
gensim
gitdb
GitPython
gmpy2
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
greenlet
grpcio==1.71.0
gunicorn==23.0.0
h5py==3.13.0
HeapDict
holoviews
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel==6.29.5
ipython==8.32.0
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi==0.19.2
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==2.15.0
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline==0.1.7
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
ml-dtypes==0.2.0
more-itertools
mpmath
msgpack
multidict
multipledispatch
munkres==1.1.4
mypy
mypy-extensions
namex==0.0.8
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio==1.6.0
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
oauth
